body {
  margin: 0;
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

.w-100 {
  width: 100%;
}

.p-3 {
  padding: 10px;
}