$--colors: (
  "primary": (
    "base": #4b87c4,
  ),
  "success": (
    "base": #228a3b,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with
  (
    $colors: $--colors,
    $button-padding-horizontal: ("default": 50px)
  );
